<% layout("/layouts/boilerplate.ejs") %>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Edit
                <%=camp.title%>
            </h1>
            <form class="needs-validation" action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Camp Name: </label>
                    <input class="form-control" type="text" name="campground[title]" id="title" value="<%=camp.title%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description: </label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description" required><%=camp.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location: </label>
                    <input class="form-control" type="text" name="campground[location]" id="location" value="<%=camp.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group form-label" for="price">Price: </label>
                    <span class="input-group-text" id="price-label">$</span>
                    <input class="form-control" type="text" name="campground[price]" id="price" value="<%=camp.price%>" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Add more files</label>
                        <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                    </div>
                </div>
                <div class="mb-3">
                    <h4>Images</h4>
                    <% camp.images.forEach((img, i) => { %>

                        <div class="form-check-inline">
                            <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                            <label for="image-<%= i %>">Delete image</label>
                            <input id="image-<%= i %>" type="checkbox" name="deleteImages[]" value="<%= img.filename %>">
                        </div>
                        <% }) %>
                </div>
                <button class="btn btn-success">Edit</button>
                <a class="btn btn-danger" href="/campgrounds/<%=camp._id%>">back</a>
            </form>

        </div>
    </div>