<% layout("/layouts/boilerplate.ejs") %>
    <h1>Edit camp
        <%=camp.title%>
    </h1>
    <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Camp Name: </label>
            <input type="text" name="campgrounds[title]" id="title" value="<%=camp.title%>">
        </div>
        <div>
            <label for="location">Location: </label>
            <input type="text" name="campgrounds[location]" id="location" value="<%=camp.location%>">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" name="campgrounds[price]" id="price" value="<%=camp.price%>">
        </div>
        <button>Edit</button>
    </form>
    <a href="/campgrounds/<%=camp._id%>">back</a>